$font-stack: -apple-system,
BlinkMacSystemFont,
Roboto,
"Open Sans",
"Helvetica Neue",
sans-serif;

@import "~bootstrap/scss/bootstrap";


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #101011;
  font-family: Roboto, sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Roboto', sans-serif;

  #logo {
    width: 10rem;
  }

  .container {
    img {
      width: 20rem;
    }
  }
}

.main-title {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 44px;
}

.navbar {
  background: black !important;
}

.banner {
  background: url('../img/banner.jpg') no-repeat center center;
  background-size: cover;
  position: relative;

  &__title {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #ffff;
    font-size: 66px;
    line-height: 60px;
  }

  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
  }

  &__list {
    p {
      font-weight: 300;
      color: #ffff;
      margin-bottom: 5px;
      line-height: 22px;
      position: relative;
      padding-left: 10px;

      &::before {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        content: '';
        width: 4px;
        height: 4px;
        background: #ffff;
        border-radius: 50%;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__form {
    background: rgba(0, 0, 0, 0.8);
    padding: 40px 20px;
    border-radius: 10px;
  }

  &__formTitle {
    color: #fff;
    font-size: 22px;
  }

  input {
    height: 30px;

  }

  .btn-send {
    background: none;
    border: none;
    outline: none;
    position: relative;

    &:hover {
      background: none;
      text-decoration: underline;
    }

    &:active {
      background: none !important;
      border: none !important;
      outline: none !important;
      box-shadow: none !important;
    }
  }
}

.consultation {
  &__image {
    -webkit-box-shadow: 0px 9px 14px -5px rgba(0, 0, 0, 0.83);
    -moz-box-shadow: 0px 9px 14px -5px rgba(0, 0, 0, 0.83);
    box-shadow: 0px 9px 14px -5px rgba(0, 0, 0, 0.83);
  }

  &__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
  }

  &__text {
    line-height: 28px;
  }

  &__btn {
    background: #000000;
  }


}

.powerfullbrand {
  background: url(../img/branding.jpg) no-repeat center center;
  background-size: cover;
  min-height: 300px;
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
  }

  &__title {
    color: #fff;
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
  }

  &__text {
    line-height: 28px;
    color: #fff;
  }
}

.title {
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
}

.services {
  &__imgCont {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 9px 14px -5px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0px 9px 14px -5px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 9px 14px -5px rgba(0, 0, 0, 0.23);
    display: flex;
    align-items: center;
    justify-content: center;

  }

  &__img {
    width: 70px !important;
  }

  &__text {
    line-height: 28px;
  }
}

.received {
  background: url(../img/artist.jpg) no-repeat center center;
  background-size: cover;
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
  }

  &__imgCont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    background: rgba(0, 0, 0, 0.6);
    height: 120px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 9px 14px -5px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 9px 14px -5px rgba(0, 0, 0, 1);
    box-shadow: 0px 9px 14px -5px rgba(0, 0, 0, 1);
  }

  &__img {
    width: 70px !important;
  }

  &__text {
    color: #fff;
    line-height: 28px;
  }
}

.ourworks {
  .card {
    -webkit-box-shadow: 0px 9px 14px -5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 9px 14px -5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 9px 14px -5px rgba(0, 0, 0, 0.15);

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }

  .card-title {
    font-weight: bold;
    text-align: center;
  }
}

.whyweare {
  background: url(../img/handshake.jpg) no-repeat center center;
  background-size: cover;
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
  }


  h3 {
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
  }

  p {
    color: #fff;
    text-align: center;
    font-weight: 300;
    line-height: 28px;
  }

  .main-title {
    color: #fff;
  }

  &__imgCont {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 0px 9px 14px -5px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 9px 14px -5px rgba(0, 0, 0, 1);
    box-shadow: 0px 9px 14px -5px rgba(0, 0, 0, 1);

    img {
      width: 70px !important;
    }
  }
}

.howwedo {
  &__imgCont {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-box-shadow: 0 9px 14px -5px rgba(0, 0, 0, .23);
    -moz-box-shadow: 0 9px 14px -5px rgba(0, 0, 0, .23);
    box-shadow: 0 9px 14px -5px rgba(0, 0, 0, .23);
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 50px !important;
    }
  }
}

footer {
  background: #000000;

  h3 {
    color: #fff;
  }
}

.clients {
  background: #000000;

  &__imgCont {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 200px !important;
      height: 80px;
      object-fit: contain;
    }
  }

}